.forecastItem {
    width: 200px;
    height: 240px;
    box-sizing: border-box;  
    background: #0c1a33;
    border-top: 2px solid #F9C40B;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px  8px 8px 8px;
    justify-content: baseline;

    &:hover {
      background: #0b214a;
    }

  .forecastItemDay {
      display: block;
      box-sizing: border-box; 
      color: #F9C40B; 
      margin-bottom: 12px;
      margin-top: 18px;
      font-size: 20px;
      font-weight: 500;
      opacity: 90%;
  }

  .forecastItemDate {
      display: block;
      box-sizing: border-box; 
      color: #F9C40B;
      font-size: 16px;
      font-weight: 300;
  }

  .forecastItemTemp {
      display: block;
      box-sizing: border-box; 
      color: #F9C40B;
      margin-top: 32px;
      font-size: 28px;
      font-weight: 400;
  }

  .forecastItemTime {
      display: block;
      box-sizing: border-box; 
      color: #F9C40B;
      margin-bottom: 6px;
      margin-top: 44px;
      font-size: 16px;
      font-weight: 300;
  }
}

@media only screen and (max-width: 1200px) {
  .forecastItem {
    .forecastItemDay {
      font-size: 14px;
      margin-top: 32px;
    }

    .forecastItemDate {
      font-size: 16px;
    }

    .forecastItemTemp {
      font-size: 24px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .forecastItem {
    width: 360px;
    height: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: center;

    .forecastItemDay {
        font-size: 22px;
        font-weight: 500;
        padding: 0px;
        margin: 0px;
    }
  
    .forecastItemDate {
        font-size: 16px;
        font-weight: 300;
        padding: 0px;
        margin: 0px;
    }
  
    .forecastItemTemp {
        font-size: 22px;
        font-weight: 500;
        padding: 0px;
        margin: 0px;
    }
  
    .forecastItemTime {
        font-size: 16px;
        font-weight: 300;
        padding: 0px;
        margin: 0px;
    }
  }
}

@media only screen and (max-width: 450px) {
  .forecastItem {
    width: 300px;
    height: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    
    .forecastItemDay {
      font-size: 18px;
      font-weight: 400;
      padding: 0px;
      margin: 0px;
    }
      
    .forecastItemDate {
      font-size: 15px;
      font-weight: 300;
      padding: 0px;
      margin: 0px;
    }
      
    .forecastItemTemp {
      font-size: 18px;
      font-weight: 400;
      padding: 0px;
      margin: 0px;
    }
      
    .forecastItemTime {
      font-size: 15px;
      font-weight: 300;
      padding: 0px;
      margin: 0px;
    }
  }
}

@media only screen and (min-width: 280px) and (max-width: 360px) {
  .forecastItem {
    width: 260px;
    height: 80px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    
    .forecastItemDay {
      font-size: 15px;
      font-weight: 400;
      padding: 0px;
      margin: 0px;
    }
      
    .forecastItemDate {
      font-size: 13px;
      font-weight: 300;
      padding: 0px;
      margin: 0px;
    }
      
    .forecastItemTemp {
      font-size: 15px;
      font-weight: 400;
      padding: 0px;
      margin: 0px;
    }
      
    .forecastItemTime {
      font-size: 13px;
      font-weight: 300;
      padding: 0px;
      margin: 0px;
    }
  }
}