.wrapperNotFoundPage {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 800px;
  box-sizing: border-box;

  .notFoundPage {
    background-image: url('../../assets/NotFound.png');
    width: 1120px;
    height: 720px;
    filter: drop-shadow(7px 7px 12px rgba(7, 16, 32, 0.25));
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;

    .redirectButton {
      width: 342px;
      height: 72px;
      border-radius: 0%;
      border: 2px solid #F9C40B;
      box-sizing: border-box;
      text-align: center;
      color: #F9C40B;
      position: fixed;
      right: 56px;
      bottom: 56px;
      background: #091223;
      font-size: 20px;
      font-weight: 400;
      cursor: pointer;
    }

    .redirectButton:hover {
      border-color: #7ea2ea;
      color: #7ea2ea;
    }
  }
}