.wrapperNotFoundPage {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 800px;
  box-sizing: border-box;

  .notFoundPage {
    background: #091223;
    width: 1120px;
    height: 720px;
    filter: drop-shadow(7px 7px 12px rgba(7, 16, 32, 0.25));
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;

      .notFoundPageTitle {
        font-size: 180px;
        font-weight: 600;
        position: fixed;
        right: 56px;
        bottom: 180px;
      }
      .notFoundPageSpan {
        font-size: 30px;
        font-weight: 400;
        position: fixed;
        right: 56px;
        bottom: 166px;
      } 

      .notFoundPagePic {
        position: fixed;
        left: 0px;
        top: 0px;
      }
  }
}