.searchBox {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  padding: 0px;
  margin: 0px;

  .searchForm {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
    align-content: center;
    width: 380px;
    height: 70px;
    margin: 0;
    padding: 0;
    border-left: solid 4px #F9C40B;
    box-shadow: 0px 8px 8px rgba(9, 18, 35, 0.15);
    box-sizing: border-box;

    .searchInput {
      align-items: center;
      padding: 0 20px;
      flex-grow: 5;
      height: 100%;
      width:max-content;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.5;
      cursor: pointer;
      background-color: #091223;
      color: #F9C40B;
      opacity: 0.9;
      margin-bottom: 2px;
      box-sizing: border-box;
    }

    .searchInput:hover {
      background: #162032;
    }

    .searchInput:focus {
      background: #0b214a;
    }
  }
}


@media only screen and (max-width: 1200px) {
  .searchBox {
    margin-top: 40px;
    .searchForm {
      width: 620px;
    }
  }
}
@media only screen and (max-width: 767px) {
  .searchBox {
    margin-top: 40px;
    .searchForm {
      width: 400px;
      height: 60px;
    }
  }
}
@media only screen and (max-width: 450px) {
  .searchBox {
    margin-top: 40px;
    .searchForm {
      width: 320px;
      height: 58px;

      .searchInput {
        padding: 0 10px;
        flex-grow: 5;
        width: 260px;
        font-size: 17px;
        margin-bottom: 1px;
      }
    }
  }
}

@media only screen and (min-width: 280px) and (max-width: 360px) {
  .searchBox {
    margin-top: 40px;
    .searchForm {
      width: 280px;
      height: 50px;
      border-left: solid 3px #F9C40B;

      .searchInput {
        padding: 0 6px;
        flex-grow: 5;
        width: 220px;
        font-size: 14px;
        margin-bottom: 1px;
      }
    }
  }
}