.button {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F9C40B;
  border: none;
  cursor: pointer;

  &:hover {
    background: #FECA13;
  }

  .searchIcon {
    width: 28px;
    height: 28px;
  
    &:hover {
      width: 30px;
      height: 30px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .button {
    height: 60px;
    width: 60px;
  }
}

@media only screen and (max-width: 450px) {
  .button {
    height: 58px;
    width: 58px;
  }
}