.favouritesPageWrapper {
  color: aliceblue;
  height: 100%;
  display: grid;
  justify-items: center;
 
  .favBlock {
    width: 800px;
    height: 1000px;
    background: #F9C40B;;
    align-items: center;
    top: 0px;
  }
}