.cityCard {
  background: #F9C40B;
  width: 560px;
  height: 360px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 26px 20px 26px 20px;
  color: #041430;
  position: static;
  transform: scaleX(1);
  transition: transform 5s ease-out;

  .cityCardHead {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items:normal;
    width: 100%;

    .cityCardTime {
      position: static;
      top: 24px;
      left: 490px;
      color: #041430;
      height: 40px;
      font-weight: 400;
      font-size: 18px;
    }

    .cityCardTitle {
      align-items: center;
      height: 40px;
      background: #F9C40B;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      color: #041430;
  
      .cityCardTitleName {
        position: static;
        left: 24px;
        top: 24px;
        display: inline-block;
        align-self: flex-start;
        color: #041430;
        font-size: 24px;
        font-weight: 600;
      }
  
      .cityCardTitleCountry {
        display: inline-block;
        position: static;
        align-self: flex-start;
        left: 24px;
        top: 54px;
        color: #041430;
        font-size: 18px;
      }
    }
  }

  .cityCardTemp {
    align-items: center;
    width: 100%;
    background: #F9C40B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #041430;

    .cityCardTempMain {
      font-size: 80px;
      font-weight: 400;
      color: #041430;
    }

    .cityCardTempSec {
      font-size: 18px;
      font-weight: 400;
      color: #041430;
    }
  }

  .cityCardDetails {
    align-items: center;
    width: 100%;
    background: #F9C40B;
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
    padding-left: 4px;
    padding-right: 4px;
  }
}

.cityCard:hover {
  transform: scaleX(-1);
}

@media only screen and (max-width: 1200px) {
  .cityCard {
    width: 620px;
  }
}
@media only screen and (max-width: 767px) {
  .cityCard {
    width: 400px;
    height: 280px;

    .cityCardHead {

      .cityCardTime {
        font-size: 18px;
      }

      .cityCardTitle {
    
        .cityCardTitleName {
          left: 24px;
          top: 24px;
          font-size: 22px;
          font-weight: 600;
        }
    
        .cityCardTitleCountry {
          left: 24px;
          top: 54px;
          font-size: 18px;
        }
      }
    }

    .cityCardTemp {
  
      .cityCardTempMain {
        font-size: 50px;
        font-weight: 400;
      }
  
      .cityCardTempSec {
        font-size: 17px;
        font-weight: 400;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .cityCard {
    width: 320px;
    height: 240px;
    padding: 14px 10px 14px 10px;

    .cityCardHead {

      .cityCardTime {
        font-size: 16px;
      }

      .cityCardTitle {
    
        .cityCardTitleName {
          left: 24px;
          top: 24px;
          font-size: 20px;
          font-weight: 500;
        }
    
        .cityCardTitleCountry {
          left: 24px;
          top: 54px;
          color: #041430;
          font-size: 16px;
        }
      }
    }

    .cityCardTemp {
  
      .cityCardTempMain {
        font-size: 38px;
        font-weight: 400;
      }
  
      .cityCardTempSec {
        font-size: 16px;
        font-weight: 400;
      }
    }

    .cityCardDetails {
      align-items: center;
      width: 100%;
      background: #F9C40B;
      display: flex;
      justify-content: space-between;
      margin-top: 38px;
      padding-left: 4px;
      padding-right: 4px;
    }
  }
}

@media only screen and (min-width: 280px) and (max-width: 360px) {
  .cityCard {
    width: 280px;
    height: 200px;
    padding: 8px 6px 8px 6px;

    .cityCardHead {

      .cityCardTime {
        font-size: 14px;
      }

      .cityCardTitle {
    
        .cityCardTitleName {
          left: 24px;
          top: 24px;
          font-size: 16px;
          font-weight: 500;
        }
    
        .cityCardTitleCountry {
          left: 24px;
          top: 54px;
          color: #041430;
          font-size: 14px;
        }
      }
    }

    .cityCardTemp {
  
      .cityCardTempMain {
        font-size: 32px;
        font-weight: 400;
      }
  
      .cityCardTempSec {
        font-size: 14px;
        font-weight: 400;
      }
    }

    .cityCardDetails {
      align-items: center;
      width: 100%;
      background: #F9C40B;
      display: flex;
      justify-content: space-between;
      margin-top: 38px;
      padding-left: 4px;
      padding-right: 4px;
    }
  }
}
