.pictureCard {
  box-sizing: border-box;
  width: 560px;
  height: 360px;
  align-items: center;
  position: static;
  background-image: url('../../assets/img/slider.png');
}

@media only screen and (max-width: 1200px) {
  .pictureCard {
    display: none;
  }
}