.logo {
  width: calc(100% - 390px);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  // margin-right: 530px;

  .logoName {
    align-items: center;
    padding: 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 39px;
  }
}

@media only screen and (max-width: 1200px)  {
  .logo {
    width: calc(100% - 280px);
    justify-content: end;
  
    .logoName {
      font-size: 24px;
      margin-right: 40px;
    }
  }
}

@media only screen and (max-width: 767px)  {
  .logo {
    width: calc(100% - 200px);
  
    .logoName {
      font-size: 18px;
      margin-right: 20px;
    }
  }
}

@media only screen and (max-width: 450px) {
  .logo {
    width: calc(100% - 160px);
  
    .logoName {
      font-size: 14px;
      margin-right: 10px;
    }
  }
}

@media only screen and (min-width: 280px) and (max-width: 360px) {
  .logo {
    width: calc(100% - 140px);
  
    .logoName {
      font-size: 12px;
      margin-right: 10px;
    }
  }
}