.media {
  display: flex;
  margin: 0;
  padding: 0;
  height: 70px;
  width: 383.2px;
  position: relative;
  color: #091223;
  flex-direction: row;

    .mediaLink {
      width: 100%;
      height: 100%;
      align-items: center;
      box-sizing: border-box;
      display: inline-flex;
      text-decoration: none;
      flex-direction: row;
    }
}