.homePageWrapper {
  display: grid;
  justify-items: center;
  align-items: first baseline;
  width: 100%;
  height: 900px;
  box-sizing: border-box;

  .weatherError {
    color: #F9C40B;
    filter: drop-shadow(4px 4px 6px rgba(165, 133, 21, 0.25));
    position: fixed;
    top: 320px;
    right: 102px;
    border: 2px solid #F9C40B;
    box-sizing: border-box;
    height: 70px;
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;

    .weatherErrorText {
      text-align: center;
      box-sizing: border-box;
      font-size: 18px;
      font-weight: 300;
      padding: 10px;
    }
  }

  .forecastError {
    color: #F9C40B;
    position: fixed;
    top: 410px;
    right: 102px;
    border: 2px solid #F9C40B;
    box-sizing: border-box;
    height: 70px;
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;

    .forecastErrorText {
      text-align: center;
      box-sizing: border-box;
      font-size: 18px;
      font-weight: 300;
      padding: 10px;
    }
  }

  .dataError {
    color: #F9C40B;
    position: fixed;
    top: 500px;
    right: 102px;
    border: 2px solid #F9C40B;
    box-sizing: border-box;
    height: 70px;
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;

    .dataErrorText {
      text-align: center;
      box-sizing: border-box;
      font-size: 18px;
      font-weight: 300;
      padding: 10px;
    }
  }

  .picLeft {
    position: absolute;
    top: 100px;
    left: 10px;
    z-index: -2;
  }
  
  .picRight {
    position: absolute;
    z-index: 1;
    top: 600px;
    right: 10px;
    transition: translate 5s ease-out;
  }

  .picRight:hover {
    translate: 0 -100px;
  }

  .headerWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: max-content;
  }

  .weatherBlock {
    filter: drop-shadow(7px 7px 12px rgba(7, 16, 32, 0.25));
    position:absolute;
    align-items: center;
    z-index: -1;
    top: 100px;

    .forecastBox {
      display: flex;
      flex-direction: column;
      width: 1120px;
      height: 360px;
      background: #091223;
      box-sizing: border-box;
      justify-content: flex-end;

      .defaultForecast {
        width: 1120px;
        height: 248px;
        background-image: url('../../assets/defaultForecast.png');
        box-sizing: border-box;
      }
      
      .forecastList {
        width: 1120px;
        background: #091223;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 35px;
        margin-top: 16px;
      }

      .forecastTitle {
      color: #F9C40B;
      margin: 26px 26px 0 26px;
      position: fixed;
      bottom: 310px;
      font-size: 20px;
      font-weight: 500;
      }
    }

    .WrapperCards {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      position: relative;
    }
  }
}
