.homePageWrapper {
  display: grid;
  justify-items: center;
  justify-content: stretch;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  .picLeft {
    position: absolute;
    top: 100px;
    left: 10px;
    z-index: -2;
  }
  
  .picRight {
    position: absolute;
    z-index: 5;
    top: 600px;
    right: 10px;
    transition: translate 5s ease-out;
  }

  .picRight:hover {
    translate: 0 -100px;
  }

  .headerWrapper {
    justify-self: stretch;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-content: center;
    z-index: 2;

    .searchBlock {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      position: relative;
      top: 0px;
      right: 0px;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  .weatherBlock {
    filter: drop-shadow(7px 7px 12px rgba(7, 16, 32, 0.25));
    position: absolute;
    align-items: center;
    z-index: 0;
    top: 110px;
    bottom: 70px;
    box-sizing: border-box;

    .forecastBox {
      display: flex;
      flex-direction: column;
      width: 1120px;
      height: 360px;
      background: #091223;
      box-sizing: border-box;
      justify-content: flex-end;

      .defaultForecast {
        width: 1120px;
        height: 248px;
        background-image: url('../../assets/img/ForecastPic.svg');
        background-repeat: no-repeat;
        background-position: center;
        box-sizing: border-box;
      }
      
      .forecastList {
        width: 1120px;
        background: #091223;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
      }

      .forecastTitle {
      color: #F9C40B;
      margin: 40px 26px 0 26px;
      font-size: 20px;
      font-weight: 500;
      }
    }

    .WrapperCards {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      position: relative;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .homePageWrapper {
    
    .headerWrapper {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .searchBlock {
        position:inherit;
      }
    }

    .weatherBlock {
      top: 200px;

      .WrapperCards {
        flex-direction: column-reverse;
      }

      .forecastBox {
        width: 620px;
        height: 380px;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        margin: 0px;

        .forecastTitle {
          position: static;
        }

        .forecastList {
          width: 620px;
        }
      }
    }
    .picRight {
      display: none;
    }
  }
}

@media only screen and (max-width: 767px) {
  .homePageWrapper {
    
    .headerWrapper {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .searchBlock {
        position:relative;
      }
    }

    .weatherBlock {
      top: 190px;

      .forecastBox {
        width: 400px;
        height: fit-content;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        margin: 0px;

        .forecastTitle {
          position: static;
        }

        .forecastList {
          width: 400px;
          flex-direction: column;
        }

        .defaultForecast {
          background-repeat: no-repeat;
          background-position: center;
          background-size: 300px auto;
        }
      }
    }
    
    .picLeft {
      width: 200px;
      top: 50px
    }
  }
}

@media only screen and (max-width: 450px) {
  .homePageWrapper {

    .weatherBlock {
      top: 188px;

      .forecastBox {
        width: 320px;
        height: fit-content;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        margin: 0px;

        .forecastTitle {
          position: static;
        }

        .forecastList {
          width: 320px;
          flex-direction: column;
        }

        .defaultForecast {
          background-size: 260px auto;
        }
      }
    }
    .picLeft {
      display: none;
    }
  }
}
