@import-normalize;

* {
  margin: 0;
  padding: 0;
}

body {
  /* font-family: 'Space Mono', monospace; */
  font-family: 'Inter';
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #313F5B;
}

input {
  all: unset;
}
