@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #28395b;
  height: 100vh;
}

input {
  all: unset;
}

input::-webkit-input-placeholder {
  color: #F9C40B;
  opacity: 0.6;
}

input::-moz-placeholder {
  color: #F9C40B;
  opacity: 0.6;
}

input:-ms-input-placeholder {
  color: #F9C40B;
  opacity: 0.6;
}
