@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #28395b;
}

input {
  all: unset;
}

p {
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
}